---
import Layout from "../layouts/Layout.astro";
---

<Layout title="เกี่ยวกับ">
  <div class="container mx-auto px-4 py-8">
    <h1 class="text-3xl font-bold">เกี่ยวกับ</h1>
    <p>เว็บไซต์นี้เป็นส่วนหนึ่งของโครงการ</p>
  </div>
</Layout>
